.type-area{
    max-width: 1200px;
    margin: 0 auto;
}
.top-icon{
    width: 20px;
    vertical-align:sub;
    height: 20px;
}
.top{
    background-color: #f2f2f2;
    line-height: 50px;
}
.top>.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    color: #000;
}
.footer{
    background-color:#f2f2f2 ;
}
.footer .row div{
    margin: 20px 0;
}
.footer img{
    width: 60px;
    height: 60px;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgba(0, 0, 0, .5);
}
.navbar{
    width: 100%;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-content p{
    text-align: center;
}
.footer-icon{
    width: 300px;
    border-top: 1px solid #bababa;
    margin: 0 auto;
}
.center{
    text-align: center;
}
@media(max-width:640px){
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}