.inner{
    margin: 20px 0;
}
.text a{
    color: #000;
}
.text{
    padding:0 10px
}
#content img{
    width: 100%;
}
#content{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    border-radius: 0;
    border: 1px solid #000;
}
.paging{
    margin: 10px auto;
    width: 200px;
    text-align: center;
}
.action{
    background-color: #010101;
    color: #fff;
}